{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-120">
    <div class="row">
        <div class="col-8 col-md-4 my-auto">
            <h3 class="rounded-4 display-6 text-center welcome">Welcome in my shop!</h3>
        </div>
    </div>
</div>

<div class="container text-center" id="circle">
    <div class="row">
        <div class="col circle-message">
            <p>FREE DELIVERY When You Spend Over
                <br>
                <strong class="fs-2">£{{ free_delivery }}</strong>
            </p>
        </div>
    </div>

    {% endblock %}