{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="remove-bg"></div>
<div class="col-sm-6 p-2 col-md-6 col-lg-4 col-xl-3 text">
    <img class="card-img-top img-fluid rounded-5" src="{{ cake.image.url }}" alt="{{ cake.name }}">
    <p>{{ cake.name }}</p>
    <p>{{ cake.description }}</p>
    <p class="text-white">£{{ cake.price }}</p>
</div>

<form class="text p-2" method="POST" action="{% url 'add_bag_content' cake.id %}">
    {% csrf_token %}
    <div class="form-group w-25">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm rounded-0 bg-dark text"
                    data-cake_id="{{ cake.cake_id }}" id="decrement-qty_{{ cake.cake_id }}">
                    <span>
                        <i class="fas fa-arrow-down fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input bg-dark text-white border-0" type="number" name="quantity"
                value="1" min="1" max="99" data-cake_id="{{ cake.cake_id }}"
                id="id_qty_{{ cake.cake_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm rounded-0 bg-dark text"
                    data-cake_id="{{ cake.cake_id }}" id="increment-qty_{{ cake.cake_id }}">
                    <span>
                        <i class="fas fa-arrow-up fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
        <a href="{% url 'cakes' %}" class="btn text border rounded-3 mt-5">
            <span class="text-uppercase text">Back to the Cakes</span>
        </a>
        <input type="submit" class="btn rounded-3 border text text-uppercase mt-5" value="Add to Bag">
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
</form>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'includes/input_values.html' %}

{% endblock %}