{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <img class="card-img-top img-fluid rounded-5" src="{{ cake.image.url }}" alt="{{ cake.name }}">
    <p>{{ cake.name }}</p>
    <p>{{ cake.description }}</p>
    <p>£{{ cake.price }}</p>
</div>

<form method="POST" action="{% url 'bag_content' cake.id %}">
    {% csrf_token %}
    <div class="w-25">
        <input class="form-control" type="number" name="quantity" value="1" min="1" max="99"
            data-item_id="{{ cake.id }}" id="qty_{{ cake.id }}">
    </div>
    <div class="col{% if s %}-12 mt-2{% endif %}">
        <a href="{% url 'cakes' %}" class="btn rounded-3 mt-5">
            <span class="text-uppercase">Back to the Cakes</span>
        </a>
        <input type="submit" class="btn rounded-3 text-uppercase mt-5" value="Add to Bag">
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
</form>

{% endblock %}