{% extends "base.html" %}
{% load static %}


{% block content %}
{% for cake in cakes %}
<div class="remove-bg"></div>
<div class="container-fluid">
    <div class="container col-10 offset-1">
        <div class="container">
            <div class="row mt-1 mb-2">
                <div class="col-sm-6 p-2 col-md-6 col-xl-3 p-lg-4">
                    <div class="card h-100 rounded-0">{% if cake.image %}
                        <a href="{% url 'cake_details' cake.id %}">
                            <img class="card-img-top img-fluid rounded-0" src="{{ cake.image.url }}"
                                alt="{{ cake.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'cake_details' cake.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.png" alt="{{ cake.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body bg-dark text pb-0">
                            <p class="mb-0">{{ cake.name }}</p>
                        </div>
                        <div class="card-footer bg-dark pt-0 border-0 rounded-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-white text-left font-weight-bold">£{{ cake.price }}</p>
                                    {% if cake.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text" href="#">
                                            <i class="fas fa-tag mr-1 text"></i>{{ cake.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                        <a href="{% url 'edit_cake' cake.id %}">Edit</a> |
                                        <a class="text-danger" href="{% url 'delete_cake' cake.id %}">Delete</a>
                                    </small>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endfor %}

    {% endblock %}