html {
    height: 100%;
}

body {
    background: url('/media/Screenshot\ 2023-01-08\ at\ 14.35.20.png') fixed center center no-repeat;
    background-size: cover;
    height: calc(100vh - 164px);
}

header {
    background-color: black;
}

.box {
    background-color:rgba(33, 33, 33, 0.95);
    width: 500px;
}

.remove-bg {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #212121;
    z-index: -1;

}

.welcome {
    background-color: #A06B5B;
}

.card {
  border-width: 4px;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-image: 
    linear-gradient(
      to bottom, 
      #A06B5B, 
      #212121
    ) 1 100%;
}

.text {
    color: #A06B5B;
    font-family: Italic;
}


#circle {
  height: 150px;
  width: 150px;
  background-color: #A06B5B;
  border-radius: 50%;
  display: flex;
  float: right;
  position: relative;
  bottom: 35px;
  right: 5px;
}

.circle-message {
    position: relative;
    margin: 0;
}

.circle-message p {
    font-size: 21px;
  font-style: italic;
  height: 100%;
  line-height: 1.25;
  padding: 0;
  text-align: center;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

#payment-loading {
    background: rgba(28, 28, 28, 0.85);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    color: #A06B5B;
}

.icons {
    background-color: black;
}

.icons i {
    background-color: black;
    color: gold;
}