{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="box container rounded-3">
  <div class="row">
    <div class="col-auto">
      <h2 class="text-white">Sign In</h2>

      {% if socialaccount_providers %}
      <p class="text">{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a class="text-white" href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

      <div class="socialaccount_ballot text">

        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or">{% trans 'or' %}</div>
      </div>

      {% else %}
      <p class="text">{% blocktrans %}If you have not created an account yet, then please
        <a class="text-white" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}

      <form class="login text" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btn text-danger secondaryAction"
          href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="primaryAction text-white btn" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}