{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="box container rounded-3">
  <div class="row">
    <div class="col-auto md-4">
      <h2 class="text-white">Register</h2>

      <p class="text">{% blocktrans %}Already have an account? Then please <a class="text-white" href="{{ login_url }}">sign
          in</a>.{% endblocktrans %}</p>

      <form class="signup text" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn text-white border-1" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}